.loader {
  $color: #42b983;
  $width: 30px;
  $height: 30px;
  $bounceHeight: 60px;
  display: inline-block;

  .bounceball {
    position: relative;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: $color;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }

  @keyframes bounce {
    0% {
      top: $bounceHeight;
      height: 10px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    25% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
}
